.hidden {
  display: none;
}

.answer {
  margin-bottom: 20
}

.quiz-label {
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vidaloka', serif;
}

p, label, button {
  font-family: 'Frank Ruhl Libre', serif;
}

/*
Colouring
*/
.btn-orange {
  color: #222222;
  background-color: #dd614a;
  border-color: #dd614a
}

.btn-orange:hover {
  color: #222222;
  background-color: #c13c25;
  border-color: #e27b69
}

.bg-lightgreen {
  background-color: #7dc95e;
}

a.bg-lightgreen:focus, a.bg-lightgreen:hover, button.bg-lightgreen:focus, button.bg-lightgreen:hover {
  background-color: #5aac39;
}

.bg-natural {
  background-color: #ede8ab;
}

a.bg-natural:focus, a.bg-natural:hover, button.bg-natural:focus, button.bg-natural:hover {
  background-color: #e9e296;
}

.bg-green {
  background-color: #3e8914;
}

a.bg-green:focus, a.bg-green:hover, button.bg-green:focus, button.bg-green:hover {
  background-color: ##29590d;
}

.bg-lightnatural {
  background-color: #f5f2d0;
}

a.bg-lightnatural:focus, a.bg-lightnatural:hover, button.bg-lightnatural:focus, button.bg-lightnatural:hover {
  background-color: #ede8ab;
}
