

/*sets background-color of body content to an off white color*/
body {
  background-color :  #f5f2d0;
  text-align: justify;
  position: absolute;
  top: 70px;
}

/*adds margins for main content*/
main {
  margin-left: 25px;
  margin-right:25px;
}


.ref{
  color: #dd614a
}
/*creates a footer that remains at bottom of page*/
footer {
  position: static;
  bottom: 0;
  width: 100%;
  background-color : #7dc95e;
  text-align: center;
  color: #222222;
}

/*styling for footer content*/
.f{
  margin: auto;
  text-align:center;
  font-size: 9px;
  font-weight: bold;
  line-height: 50%;

}

.h {
    list-style: circle;
}
#map{
  height: 400px;
  width: 960px;
  margin: auto;
  padding: 10px;
}
